@import '../../partials/__variables.scss';
@import '../../partials/__mixins.scss';

/* Box-sizing border-box */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .modal-backdrop {
    background-color: transparent;
    transition: opacity ease-in .2s;
}

  .modal {
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    margin: 0;
    width: 100%;
    // max-height: 667px;
    max-width: 672px;

    @include tablet {
        position: absolute;
        left: 5%;
        right: 5%;
        top: 20%;
        min-width: 80vw;
        max-width: 80vh;
        height: 30vh;
        margin: 0 auto;
        max-height: 262px;
    //   margin-top: 20vh;
    //     margin-left: 20vw;
        // padding-left: 3rem;
    }
    @include desktop {
        position: absolute;
        left: 24%;
        right: 24%;
        top: 20%;
        min-width: 672px;
        max-width: 40vw;
    //   margin-top: 20vh;
    //     margin-left: 20vw;
        // height: 262px;
        // padding-left: 3rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        visibility: visible;
        opacity: 10;
        background-color: $white;
        z-index: 1;
        max-height: 667px;

        @include tablet {
            height: 262px;

        }

  }

    &__close-container {
        display: flex;
        justify-content: flex-end;
        text-align: right;
    }
    &__close {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 201px;
        left: 936px;
    }

    &__close-x {
        width: 24px;
        height: 24px;
    }
    &__title {
        display: flex;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color:$black;
        width: 80%;
        margin: 0px 0px 1rem 0px;
        padding-bottom: 1rem;
        height: 40px;
        text-align: left;
        // position: absolute;
        // top: 225px;
        // left: 368px;
        @include tablet {
            width: 100%;
        }
    }
    &__copy {
        display: flex;
        width: 100%;
        height: 56px;
        font-size: 16px;
        line-height: 28px;
        color: $black;
        text-align: left;
        margin-top: 2rem;
                // position: absolute;
               // width: 544px;
        // top: 281px;
        // left: 368px;


        @include tablet {
            margin-top: 0px;
        }
    }
    &__but-container {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-top: 80%;
        padding-right: 2rem;
        justify-content: flex-start;
        height: 40px;
        // position: absolute;
        // top: 369px;
        // left: 753px;

        @include tablet {
            justify-content: flex-end;
            margin-left: auto;
            margin-top: 2rem;
            width: 40%;
        }
        @include desktop {
            justify-content: flex-end;
        }
    }

        @include tablet {
            justify-content: flex-end;
            margin-left: auto;
            width: 40%;
        }
        @include desktop {
            justify-content: flex-end;
        }
    }
    &__cancel-but {
        width: 55vw;
        height: 38px;
        display: flex;
        border-radius: 20px;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 5px;
        background-color: $white;
        color: $black;
        border: 1px solid $cloud;
        margin-right: 1rem;
                // position: absolute;
        // top: 369px;
        // left: 753px; 
                // padding: 8px 16px;

        @include tablet {
            width: 71px; 
        }

    }

    &__delete-but {
        width: 55vw;
        display: flex;
        height: 38px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 5px;
        background-color: $red;
        color: $white;
                // position: absolute;
        // top: 369px;
        // left: 841px; 

        @include tablet {
            width: 71px; 
        }
    }


.modal.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
  }
// parent button - placeholder
#centered-toggle-button {
    position: absolute;
  }