@font-face {
  font-family: "TitilliumWeb";
  src: url(../assets/fonts/TitilliumWeb-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "TitilliumWeb";
  src: url(../assets/fonts/TitilliumWeb-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "TitilliumWeb";
  src: url(../assets/fonts/TitilliumWeb-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "TitilliumWeb";
  src: url(../assets/fonts/TitilliumWeb-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
.card {
  position: absolute;
  left: 4.27%;
  right: 4.27%;
  top: 25%;
  bottom: -9.31%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
}
@media screen and (min-width: 768px) {
  .card {
    top: 10%;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    left: 10.16%;
    right: 10.16%;
    top: 12%;
    bottom: -8%;
  }
}

.head {
  padding: 0 8.25%;
}
@media screen and (min-width: 768px) {
  .head {
    padding: 0 4.56%;
  }
}
@media screen and (min-width: 768px) {
  .head__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 32px;
  }
}
.head__box-main {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 36px;
  margin: 32px 0 0 0;
}
@media screen and (min-width: 768px) {
  .head__box-main {
    margin: 0;
    font-size: 2rem;
    line-height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .head__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .head__container {
    width: 100%;
  }
}
.head__container-search {
  background-image: url(../../assets/images/Icons/search-24px.svg);
  background-repeat: no-repeat;
  background-position: 212px 9px;
  background-size: 17.5px 17.5px;
  border: 1px solid #BDC5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 16px 0;
  width: 100%;
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 20px;
  color: #5C667E;
}
@media screen and (min-width: 768px) {
  .head__container-search {
    margin: 0;
    width: 50%;
    background-position: 135px 9px;
    font-size: 0.875rem;
    line-height: 22px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .head__container-search {
    width: 39%;
    background-position: 237px 9px;
  }
}
.head__container-click {
  background: #2E66E5;
  border-radius: 20px;
  width: 100%;
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 20px;
  color: #FFFFFF;
  border: 1px none #BDC5D5;
  padding: 8px 0;
}
@media screen and (min-width: 768px) {
  .head__container-click {
    padding: 8px 16px;
    font-size: 0.875rem;
    line-height: 22px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
  }
}

.column {
  display: none;
}
@media screen and (min-width: 768px) {
  .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    background-color: #F7F8F9;
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .column__text {
    font-family: "TitilliumWeb";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #5C667E;
    margin: 11px 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .column__text--shift {
    font-family: "TitilliumWeb";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #5C667E;
    padding-left: 4.56%;
    margin: 11px 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .column__text--push {
    font-family: "TitilliumWeb";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #5C667E;
    padding-right: 4.56%;
    margin: 11px 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .column__text-sort {
    position: absolute;
    top: 30%;
    margin-left: 1%;
    width: 12px;
    height: 15px;
  }
}

.list {
  padding: 0 8.25%;
}
@media screen and (min-width: 768px) {
  .list {
    padding: 0 4.56%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.list__border {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .list__border {
    width: 100%;
  }
}
.list__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .list__square {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.list__square-header {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: #5C667E;
  margin: 16px 0 0 0;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .list__square-header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .list__square-container {
    width: 138px;
    position: relative;
  }
}
.list__square-chevy {
  position: absolute;
  margin-left: 1%;
  top: 48.5%;
}
@media screen and (min-width: 768px) {
  .list__square-chevy {
    top: 10.5%;
  }
}
.list__square-text, .list__square-location {
  font-family: "TitilliumWeb";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #13182C;
  margin: 4px 0 0 0;
}
@media screen and (min-width: 768px) {
  .list__square-text-address {
    width: 65%;
  }
}
@media screen and (min-width: 768px) {
  .list__square-text-info {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .list__square-text-name {
    padding: 0 10px;
  }
}
.list__square-location {
  color: #2E66E5;
}
.list__square-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 19px 0 0 0;
}
.list__square-push {
  margin-right: 24px;
}
/*# sourceMappingURL=WarehouseList.css.map */