@import '../../partials/_general';

.ti-container{
    font-family: 'TitilliumWeb';
    width: 50%;
    margin-bottom: 16px;
    @include tablet{
        margin: 0;
        width: 16%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__title{
        margin-bottom: 4px;
        font-size: 0.9rem;
        font-weight: 600;
        color: #5C667E;
    }
    & a{
        display: flex;
        color: $blue;
        font-weight: bold;
        @include tablet{
            justify-content: center;
        }

    }
    &__content{
        font-size: 0.9rem;
        font-weight: 400;
        @include tablet{
            font-size: 0.8rem;
            text-align: center;
        }
    }
    &__instock{
        display: flex;
        // width: fit-content;
        @include tablet{
            justify-content: center;
        }
        &--text{
            height: 18px;
            font-size: 0.7rem;
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 4px 8px 4px 8px;
            border-radius: 20px;
            color: green;
            background-color: rgba($color: #158463, $alpha: 0.07);
        }
    }
    &__outstock{
        @include tablet{
            display: flex;
            justify-content: center;
        }
        &--text{
            height: 18px;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 4px 8px 4px 8px;
            border-radius: 20px;
            color: #C94515;
            background-color: rgba($color: #C94515, $alpha: 0.07);
        }
    }
}

.mobile-only{
    @include tablet{
        display: none;
    }
}

.wide{
    width: 100%;
    &:first-child{
        margin-bottom: 16px;
    }
}
.smol{
    width: 50%;
    margin-bottom: 16px;
}

.align-left{
    text-align: left;
}