@import '../../partials/_general';

.raise{
    top: -50px;
}

.info-card{
    position: relative;
    padding: 32px 5%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #BDC5D5;
    @include tablet{
        padding: 32px 16px;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        &:last-child{
            margin-left: auto;
        }
    }
    @include desktop{
        padding: 32px 5%;
        &:hover{
            background-color: rgba($color: #2E66E5, $alpha: 0.07);
        }

    }
    &__icons{
        display: flex;
        justify-content: space-between;
        width: 100%; 
        @include tablet{
            justify-self: flex-end;
            width: 16%; 
            justify-content: space-evenly;
        }
    }

}

.edit-button {
    display:flex
}