@import '../../partials/general';

.foot {
  background-color: $gray-lt;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  height: 125vh;
  @include tablet {
    height: 80vh;
  }

    &__copyright {
      display: flex;
      font-family: 'TitilliumWeb';
      font-style: normal;
      font-weight: normal;
      font-size: .6875rem;
      line-height: 16px;
      margin: 0;
      color: $slate;
      text-align: center;
      display: flex;
      justify-content: center;
      align-self: flex-end;
    }
};