@import '../../partials/general';

.foot {
  background-color: $gray-lt;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  margin: 40px 0;
  padding-bottom: 40px;
  @include tablet {
    margin: 70px 0 40px 0;
  }

  @include desktop {
    margin: 95px 0 48px 0;
  }

    &__copyright {
      display: flex;
      font-family: 'TitilliumWeb';
      font-style: normal;
      font-weight: normal;
      font-size: .6875rem;
      line-height: 16px;
      margin: 0;
      color: $slate;
      text-align: center;
      display: flex;
      justify-content: center;
      align-self: flex-end;
    }
};