@font-face {
    font-family: 'TitilliumWeb';
    src: url("../assets/fonts/TitilliumWeb-Regular.ttf")  format("truetype");
    font-style: normal;
    font-weight: normal;
}

.titilliumWeb-Regular {
    font-family: 'TitilliumWeb';
    font-weight: normal;
}

@font-face {
    font-family: 'TitilliumWeb';
    src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf")  format("truetype");
    font-style: bold;
    font-weight: bold;
}
.titilliumWeb-SemiBold {
    font-family: 'TitilliumWeb', sans-serif;
    font-weight: medium;
}