// colors: primary
$black: #13182C;
$white: #FFFFFF;
$blue: #2E66E5;

// secondary
$slate: #5C667E;
$cloud: #BDC5D5;

// background
$graphite: #232940;
$gray-lt: #F7F8F9;

// support
$green: #158463;
$red: #C94515;

// font
$font-face: '.titilliumWeb-Regular';
$font-face: '.titilliumWeb-SemiBold';

// devices
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;