 @mixin mobile {
    @media screen and (min-width: $mobile-breakpoint) {
      @content;
    }
  }
 @mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @mixin iconButton{
    width: 25px;
    height: 25px;
    background-color: rgba($color: white, $alpha: 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
  }
